*{
  margin: 0;
  padding:0;
}
body,html{
   
  height: 100%;
  width: 100%;
}
.par{
  display:inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(173, 216, 230);
}
.card{
 
 background-color: rgb(228, 120, 120);
  border-radius: 10px;
  width: 300px;
  margin: 20px;
  padding: 20px;

}