*{
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%; 
  background-color: black;
  color: aliceblue;
}
.par{
  color: white;
  gap: 20px;
  /* position: relative; */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card{
  /* position: absolute; */
  /* height:200px; */
  width:300px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border:1px solid rgb(197, 198, 189);
  background-color: #333;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.card p{
  padding: 20px ;
}
.card button{
  padding: 10px 20px;
  background:  #c2bdbd;
  border-radius: 10px;
  border: none;
}