*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.element::-webkit-scrollbar{
  display: none;
}
html,body{
  height:100%;
  width: 100%;
  background-color: black;


}
.per{

min-height: 20vh;
 display: flex;
  gap: 40px;
  width:100%;
  padding:30px;
  flex-wrap: wrap;
}
.card{
  
  height: 350px;
  width:300px ;
  background-color: #fff; 
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
   display:  flex;
   align-items: center;
   justify-content: space-between;

}
.top img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.center h3 span{
  font-size: 18px;
  font-weight: 400;
  color: #8b8b8b;

}
.center h2{
  font-size: 20px;

}
.center .tags h4{
  font-size: 14px;
  background-color: #dadada;
  color: #111;
  border-radius: 5px;
  font-weight: 400;
  padding:3px 6px;
}
.center .tags{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;  
  font-size: 11px;
  border-radius: 5px;  
  gap: 3 px;
  background-color: transparent;
  color: b1b1b1;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px  ;
}